body {
    margin: 0;
    box-sizing: border-box;
    font-family: 'Texturina', serif;
    background-image: url(./images/fluff.jpg);
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: auto;
    grid-template-areas: 
    "aside header"
    "aside main";
}


h1, h2, h3, h4 {
    color: green;
    font-family: 'Staatliches', cursive;
}
h1 {
    font-size: 4rem;
    margin: 1rem;
}

header {
    grid-area: header;
    display: flex;
    justify-content: center;
    padding: 1rem;
}

aside {
    grid-area: aside;
    align-items: center;
    padding: 2rem;
    max-width: 20rem;
}

/* TODAY SECTION */

.today {   
    color: green;
    font-family: 'Staatliches', cursive;
    padding: 1rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    grid-template-areas: 
    "time guineapig1"
    "weekday date"
    "guineapig2 month";
    justify-content: center;
    background-color: lightgray;
    border-radius: 3rem;
    padding: 2rem;
}

.guinea-pig {
    width: 5rem;
    border-radius: 10rem;
}
.today>div {
    margin: 0.1rem;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;

}
#clock {
    font-size: 4rem;
}

#weekday-holder {
    font-size: 4rem;
}
#date-holder {
    font-size: 4rem;
}
#month-holder {
    font-size: 4rem;
}

/* TODO SECTION */

.todo {
    background-color: lightgray;
    padding: 2rem;
    border-radius: 3rem;
    margin-top: 2rem;
}

.todo h2 {
    text-align: center;
}

/* CALENDAR */

.calendar-header {
    justify-content: space-between;
    padding: 0 1rem;
    align-items: center;
}

#calendar-container {
    display: grid;
    padding: 1rem;
    height: 100%;
    font-weight: bold;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 5rem 5rem 5rem 5rem 5rem 5rem;
}

.weekdays {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    padding: 0.5rem 1rem;
    margin-top: 0;
    margin-bottom: 0;
    font-weight: bolder;
    font-family: 'Staatliches', cursive;
}

#current-month {
    font-size: 2rem;
}
/* REUSABLE CLASSES */

.flex {
    display: flex;
}

.column {
    flex-direction: column;
}

.center {
    justify-content: center;
    align-items: center;

}