body {
    margin: 0;
    box-sizing: border-box;
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: auto;
    grid-template-areas: 
    "aside header"
    "aside main";
}
header {
    grid-area: header;
    display: flex;
    justify-content: center;
    padding: 2rem;
}

aside {
    grid-area: aside;
}

.today {
    
    color: green;
    font-family: 'Staatliches', cursive;
    padding: 1rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    grid-template-areas: 
    "time guineapig1"
    "weekday date"
    "guineapig2 month";
    justify-content: center;
    background-color: lightgray;
    border-radius: 3rem;
    padding: 2rem;
    margin-top: 2rem;
}

.guinea-pig {
    width: 5rem;
    border-radius: 10rem;
}
.today>div {
    margin: 0.1rem;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;

}
#clock {
    font-size: 4rem;
}

#weekday-holder {
    font-size: 4rem;
}
#date-holder {
    font-size: 4rem;
}
#month-holder {
    font-size: 4rem;
}

/* REUSABLE CLASSES */

.flex {
    display: flex;
}

.column {
    flex-direction: column;
}

.center {
    justify-content: center;
    align-items: center;

}